<!DOCTYPE html>
<html>
<body>
  <div>
    <h3>Expense form</h3>
    <form method="post" actions="/">
      <input type="number" name="amount" placeholder="$"/>
      <input type= "text" name="description" placeholder="Item Description" />
      <input type= "date" name="date" placeholder="Date" />
      <input type= "tag" name="tag" placeholder="Tag" />
      <input type= "group" name="group" placeholder="Group" />
      <input type="submit" value="Submit" />
    </form>

    <h3>Income form</h3>
    <form method="post" actions="/">
      <input type="number" name="amounti" placeholder="$"/>
      <input type= "text" name="descriptioni" placeholder="Item Description" />
      <input type= "date" name="datei" placeholder="Date" />
      <input type= "tag" name="tagi" placeholder="Tag" />
      <input type= "group" name="groupi" placeholder="Group" />
      <input type="submit" value="Submit" />
    </form>

</div>
<div>
    <h3> Expense </h3>
    <ul>
      <% @exp.each do |exp| %>
      <li><%=  exp.amount %></li>
      <% end %>

    </ul>
</div>
<div>
  <h3> Income </h3>
  <ul>
    <% @inc.each do |inc| %>
    <li><%=  inc.amount %></li>
    <% end %>

  </ul>
</div>

</body>
</html>
