<h1>Welcome to Project $. Please Login</h1>
<div class="panel">
  <div class="panel-body">
    <h4 class="list-group-item-heading">Login:</h4>

    <form action='/login' method='POST'>
      <div class="form-group">
        <input class="form-control" type='text' name='name' placeholder='username' />
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="password" />
      </div>
      <button type='submit' class="btn btn-primary">Login</button>
    </form>

  </div>
</div>

<h4 class="list-group-item-heading">I don't have a login: <a style="text-decoration: underline" href='/signup'>Register</a></h4>
